<div class="container">
    <h1 class="text-center mt-5">Reach The End In Time</h1>

    <form (ngSubmit)="save(form)" #form="ngForm">
        <input 
        type="number"
        class="form-control mb-2"
        minlength="1"
        required
        name="movimientos"
        ngModel>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark">Seleccionar</button>
        </div>
    </form>


    <h5 class="mt-5"><b>Tus movimientos:</b> -- {{contador}} --</h5>
    <br><br><br><br><br>

    <!--row 1-->
    <div class="row text-center">
        <div class="col">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card mb-2 mt-2">
                        <div class="card-body">
                            <div *ngFor="let p1 of p1">
                                {{p1}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" cdkDropList #p2List="cdkDropList" [cdkDropListData]="p2" [cdkDropListConnectedTo]="[p3List, p4List, p5List,p6List,p7List,p8List, p9List]" (cdkDropListDropped)="drop($event)">
            <div class="card">
                <div class="card-body" cdkDrag>
                    <div class="card mb-2">
                        <div class="card-body">
                            <div *ngFor="let p2 of p2">
                                {{p2}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" cdkDropList #p3List="cdkDropList" [cdkDropListData]="p3" [cdkDropListConnectedTo]="[p2List, p4List, p5List,p6List,p7List, p8List, p9List]" (cdkDropListDropped)="drop($event)">
            <div class="card">
                <div class="card-body" cdkDrag>
                    <div class="card mb-2 mt-2">
                        <div class="card-body">
                            <div *ngFor="let p3 of p3">
                                {{p3}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!--row 2-->
    <div class="row text-center">
        <div class="col">
            <div class="card mb-2" cdkDropList #p4List="cdkDropList" [cdkDropListData]="p4" [cdkDropListConnectedTo]="[p2List,p3List,p5List,p6List,p7List, p8List, p9List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card mb-2" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p4 of p4">
                                {{p4}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" cdkDropList #p5List="cdkDropList" [cdkDropListData]="p5" [cdkDropListConnectedTo]="[p2List,p3List,p4List,p6List, p7List,p8List, p9List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card mb-2" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p5 of p5">
                                {{p5}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" cdkDropList #p6List="cdkDropList" [cdkDropListData]="p6" [cdkDropListConnectedTo]="[p2List,p3List,p4List,p5List, p7List,p8List,p9List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card mb-2" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p6 of p6">
                                {{p6}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--row 3-->
    <div class="row text-center">
        <div class="col mb-2">
            <div class="card" cdkDropList #p7List="cdkDropList" [cdkDropListData]="p7" [cdkDropListConnectedTo]="[p2List,p3List,p4List,p5List,p6List,p8List,p9List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p7 of p7">
                                {{p7}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" cdkDropList #p8List="cdkDropList" [cdkDropListData]="p8" [cdkDropListConnectedTo]="[p2List,p3List,p4List,p5List,p6List,p7List,p9List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card mb-2" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p8 of p8">
                                {{p8}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" cdkDropList #p9List="cdkDropList" [cdkDropListData]="p9" [cdkDropListConnectedTo]="[p2List,p3List,p4List,p5List,p6List,p7List,p8List]" (cdkDropListDropped)="drop($event)">
                <div class="card-body">
                    <div class="card mb-2" cdkDrag>
                        <div class="card-body">
                            <div *ngFor="let p9 of p9">
                                {{p9}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>